/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/* close html4 css reset */
/* BODY */
@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype');         
}
@font-face{
    font-family: ProximaNova-Light;
    src: url('../fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: ProximaNova-Regular;
    src: url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}
    @font-face {
        font-family: ProximaNova-Bold;
        src: url('../fonts/ProximaNova-Bold.woff') format('woff'),
             url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    }
    @font-face {
        font-family: Roboto-Light;
        src: url('../fonts/Roboto-Light.ttf') format('truetype'),
             url('../fonts/Roboto-Light.woff') format('woff');
    }

body{
    font-size: 16px;
    font-family: Roboto;
}
/* END OF BODY */
/* HEADER */
.page-header, .page-footer{
    height: 67px;
    width: 100%;
    background-color: rgb(247, 198, 29);
}
.wrapper{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.page-header .wrapper, .page-footer .wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
.page-header nav a{
    font-family: ProximaNova-Regular;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 30px;
}
/* MAIN */
.main{
    display: flex;
}
main{
    width: 77%;
}
.right-sidebar{
    width: 23%;
}
img{
    width: 100%;
}
/* =============ARTICLES============= */
h2{
    font-family: ProximaNova-Bold;
    font-size: 24px;
    /* font-weight: bold; */
    /* ? no need to bold since the font style is bold */
    margin: 45px auto 19px auto;
}
article{
    /* set the article beside the picture using flex */
    display: flex;
    margin-bottom: 64px;
}
.article-left{
    /* the image is 30% of the
     * total space
    */
    width: 30%;
}
/* =============IMAGE============= */
.article-left img{
    /* round the edges of the image border */
    border-radius: 3px;
}

.article-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    justify-content: space-between;
}
article h3{
    /* title of the article */
    font-size: 30px;
    font-family: ProximaNova-Light;
    font-weight: 350;
}

.meta, .additional{
    /* light colored text under title */
    font-size: 14px;
    font-family: Roboto-Light;
    font-weight: lighter;
    color: rgb(153, 153, 153);
    /* display: inline-block; */
    }

.meta>span::after, .additional>span::after{
    /* upright bar separating elements under title */
    /* same for the views/comments section */
    content: "|";
    display: inline-block;
    color: rgb(153, 153, 153);
    padding: 5px 5px;
    /* margin: auto 12px; */
}

.meta>span:last-child::after, .additional>.comments:last-child::after{
    /* last element under title doesn't have a bar */
    display: none;
}

.views::before{
    /* same for the views/comments section using unicode for eye*/
    content: '\f06e';
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
    text-align: justify;
    color: rgb(153, 153, 153);
    margin-right: 12px;
}
.views::after{
    margin-left: 12px;
}

.comments::before{
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
    text-align: justify;
    color: rgb(153, 153, 153);
    margin: auto 12px;
}
.category, .comments{
    /* the last element is a different color */
    font-family: Roboto;
    color: rgb(227, 176, 2);
    font-weight: 300;
}

.description{
    /* description text summing the body of the article */
    font-family: Roboto-Light;
    font-size: 16px;
    font-weight: 300;
    color: rgb(85, 85, 85);
}
.description::after{
    content: ">";
    font-family: Roboto;
    color: rgb(227, 176, 2);
    font-weight: 300;    
}

/* ==============BUTTON============== */
.more{
    display: block;
    width: 171px;
    height: 43px;
    background: transparent;
    color: black;
    font-family: Roboto;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid rgb(227, 176, 2);
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;    
}

/* FOOTER */
.page-footer{
    margin: 100px 0;
}
.page-footer>.wrapper>*{
    width: 33.33%;
}
.copy{
    font-family: ProximaNova-Light;
    font-weight: 300px;
    font-size: 13px;
    color: rgb(167, 134, 19);
}
.socials{
    display: flex;
    justify-content: flex-end;
}
.socials a{
    display: block;
    border-radius: 50%;
    background-color:white;
    width: 45px;
    height: 45px;
    color: rgb(247, 198, 29);
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}
.footer-nav a{
    text-decoration: none;
    color:black;
    padding: 0 18px;
}